@charset "UTF-8";

html {
  min-width: 1080px;
}

body,button,input,select,table,textarea {
   font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

body {
  /* min-width: 1080px; */
  margin: 0;
}

.header {
  background-color: black;
}

.header h1 {
  width: 1000px;
  padding: 40px;
  margin: auto;
  color: #fff;
  font-size: 40px;
}

.wrap {
  width: 1000px;
  padding: 40px;
  margin: 0 auto;
  font-size: 0px;
}

.wrap .menu {
  display: inline-block;
  width: 321px;
  height: 33px;
  border: 1.0px solid #d1d1d1;
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 33px;
  text-decoration: none;
}

.wrap .menu + .menu {
  margin-left: 14px;
}

.wrap .menu:hover {
  border-color: #454545;
  font-weight: bold;
}

.wrap .subheader {
  padding: 20px 0;
  margin: 30px 0;
  border-bottom: 1px solid #454545;
  font-size: 20px;
}

.wrap .element {
  padding: 15px;
  border: 1px solid #d1d1d1;
  margin-top: 30px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background-color: #f7f7f7;
}

.wrap .content {
  padding: 30px;
  border: 1px solid #d1d1d1;
  border-top: 0;
  font-size: 14px;
  font-weight: bold;
}

caption {
  padding: 0 0 15px 0;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.size table{
  width: 940px;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}

.size th {
  border: 1px solid #e4e4e4;
  background-color: #fbfbfb;
  padding: 10px 0;
}

.size td {
  border: 1px solid #e4e4e4;
  padding: 10px 0;
}

.refund {
  margin-top: 50px;
}

.refund table{
  width: 940px;
  margin: 14px 0;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}

.refund th {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fbfbfb;
}

.refund tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.refund tfoot td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
  font-weight: bold;
}

.price {
  text-align: right;
  padding-right: 60px;
}

.reg-form {
  padding: 14px;
  margin-top: 14px;
  border: 1px solid #e4e4e4;
  background-color: #fbfbfb;
}

.box {
  width: 900px;
  height: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
}

.gender-select {
  width: 100px;
  margin: 3px;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}

.select {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0;
}

select {
  width: 294px;
  height: 30px;
  border: 1px solid #e4e4e4;
}

.hobby-select {
  width: 80px;
  margin: 3px;
  line-height: 12px;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}

.number {
  width: 790px;
  height: 26px;
  border: 1px solid #e4e4e4;
  margin-right: 10px;
}

.num-button {
  width: 100px;
  height: 30px;
  border: 1px solid #08a600;
  background-color: #4ec53d;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.reg-button {
  width: 100%;
  height: 40px;
  border: 1px solid #08a600;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.content-box {
  padding: 20px;
  border: 1px solid #e4e4e4;
  margin: 10px 0 50px 0;
  font-weight: normal;
}

.content-box h1 {
  width: 200px;
  margin: 30px auto;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.search {
  font-size: 14px;
  font-weight: bold;
}

.dic {
  color: #559bfa;
  font-size: 12px;
}

.content-box .project {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
}

.most-searched {
  width: 250px;
  padding: 15px 10px 15px 10px;
  border: 1px solid #e4e4e4;
  margin: 10px 0 50px 0;
  font-size: 12px;
  font-weight: normal;
}

.rank {
  width: 17px;
  height: 17px;
  border: 1px solid #e0e0e0;
  margin: 5px 10px 5px 10px;
  display: inline-block;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
}

.keyword {
  color: black;
  text-decoration: none;
}

.keyword:hover {
  text-decoration: underline;
}

.cookie {
  padding: 0 15px;
  margin: 0;
  font-size: 12px;
}

.cookie li {
  line-height: 25px;
}

.news-header {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #00c;
}

.news-content {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #e4e4e4;
  margin: 20px 0;
}

.webtoon {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.webtoon:hover {
  text-decoration: underline;
}

.webtoon-title {
  font-size: 14px;
  font-weight: bold;
}

.webtoon-episode {
  font-size: 12px;
}

.cuttoon {
  width: 25px;
  height: 12px;
  line-height: 14px;
  border: 1px solid #71b036;
  background-color: #80c83d;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.smarttoon {
  width: 45px;
  height: 12px;
  line-height: 14px;
  border: 1px solid #df4e28;
  background-color: #ec5336;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.footer {
  border-top: 1px solid #d1d1d1;
  text-align: center;
  padding: 15px;
}

.footer .address {
  /* display: block; */
  color: #999;
  font-size: 12px;
  /* line-height: 15px; */
}

.footer .copyright {
  /* display: block; */
  color: #000;
  font-size: 12px;
  /* line-height: 15px; */
}
